<footer>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">BY RAFAEL CARVALHO</h1>
          <p class="lead">SISTEMA DE ADMINISTRAÇÃO DE LOCADORA</p>
        </div>
      </div>    

</footer>
