<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#"><img src="/images/logo.png" width="30" height="30" alt=""> LOCADORAFA</a></a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
              alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name"><strong><%= user.nome %></strong>
            </span>
            <span class="user-role">Entusiasta</span>        
            <a href="#">
              <i class="fa fa-cog"></i>
            </a>
            <a href="#">
              <i class="fa fa-power-off"></i>
            </a>
          </div>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>Menu</span>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fas fa-film"></i>
                <span>Todos os Filmes</span>
              </a>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fas fa-video"></i>
                <span>Meus Filmes</span>
              </a>
          </ul>
        </div>
      </div> 
    </nav>